<div class="container" style="margin: 50px auto;">
  <form action="/admin/docentes/modificar" method="post" class="holder">


    <div style="text-align: right ;">
      <!-- Atras Button -->
      <a href="/admin/docentes/"><button class="btn btn-danger">Atras</button></a>
    </div>

    <input type="hidden" value="{{docenteData.id_docente}}" name="id_docente" />

    <div class="inputs">
      <div class="form-group">
        <!-- Nombre -->
        <label for="nombre" class="control-label">Nombre</label>
        <input type="text" class="form-control" id="nombre" name="nombre" value="{{docenteData.nombre}}"
          placeholder="Nombre del docente" />
      </div>
      <div class="form-group">
        <!-- Apellido -->
        <label for="apellido" class="control-label">Apellido</label>
        <input type="text" class="form-control" id="apellido" name="apellido" value="{{docenteData.apellido}}"
          placeholder="Apellido del docente" />
      </div>
      <div class="form-group">
        <!-- DNI -->
        <label for="dni" class="control-label">DNI</label>
        <input type="number" class="form-control" id="dni" name="dni" value="{{docenteData.dni}}"
          placeholder="Numero de documento" />
      </div>
      <div class="form-group">
        <!-- Telefono -->
        <label for="apellido" class="control-label">Telefono</label>
        <input type="text" class="form-control" id="telefono" name="telefono" value="{{docenteData.telefono}}"
          placeholder="Telefono" />
      </div>
      <div class="form-group">
        <!-- Direccion -->
        <label for="direccion" class="control-label">Direccion</label>
        <input type="text" class="form-control" id="direccion" name="direccion" value="{{docenteData.direccion}}"
          placeholder="Calle/Barrio/Ciudad/Pais" />
      </div>
      <div class="form-group">
        <!-- e-mail -->
        <label for="email" class="control-label">Email</label>
        <input type="text" class="form-control" id="email" name="email" value="{{docenteData.email}}"
          placeholder="XX@XX.XXX" />
      </div>
      <div class="form-group">
        <!-- Instagram address -->
        <label for="fecha de inscripcion" class="control-label">Instagram</label>
        <input type="text" class="form-control" id="instagramAdd" value="{{docenteData.instagramAdd}}"
          name="instagramAdd" />
      </div>
      <div class="form-group">
        <!-- Facebook address -->
        <label for="Direccion de Facebook" class="control-label">Facebook</label>
        <input type="text" class="form-control" id="facebookAdd" value="{{docenteData.facebookAdd}}"
          name="facebookAdd" />
      </div>
      <div class="form-group">
        <!-- Horario -->
        <label for="horario" class="control-label">Horario</label>
        <input type="text" class="form-control" id="horario" name="horario" value="{{docenteData.horario}}"
          placeholder="XX:XX - XX:XX" />
      </div>
    </div>

    <div class="form-group mt-5">
      <!-- Modificado por -->
      <label for="observaciones" class="control-label">Modificado por</label>
      <input type="text" class="form-control" id="modificado_por" name="modificado_por" value={{usuario}} readonly />
    </div>

    <div class="form-group mt-3">
      <!-- Submit Button -->
      <button type="submit" class="btn btn-danger">Cargar</button>
    </div>

    {{#if error}}
    <h4 style="color: white;">{{message}}</h4>
    {{/if}}
  </form>
</div>